/* app-level styles */

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-todo-list {
  list-style-type: none;
}

.app-todo-item {
  color: #fff;
  margin-bottom: 12px;
}
